body {
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
    
    min-height: 500px;
}

img.block {
    display: block;
    margin: auto;
}

img.nav-img {
    padding-bottom: 1.5em;
}

#nav-bar { /* set rule for smaller screen */
    height: 100%;
    width: 100px;
    
    position: fixed;
    right: 0px;
    
    background-color: #005680;
    z-index: 2;  
}

.section {
    margin: 0px;
    padding-right: 98px;
    z-index: 1;
}

#menu {
    list-style: none;
}

#nav-top {
    width: 100%;
    position: absolute;
    top: 0px;
    
    text-align: center;
    
    padding-top: 2em;
}

#nav-bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin-bottom: 2em;
}

img.nav-social-img {
    padding-bottom: 1em;
}

li.active {
    background-size: cover;
}

.section {
    background-size: cover;
}

/*
#slide1 {
    background-image: url(../images/main/cover1.jpg);
}

#slide2 {
    background-image: url(../images/main/cover2.jpg);
}

#slide3 {
    background-image: url(../images/main/cover3.jpg);
}


.slide {
    background-size: cover;
}

.slide-main {
    text-align: center;
}

.slide-main img {
    top: 45%;
    position: relative;
    
    max-width: 100%;
}
*/

#section-main {
    text-align: center;
}

#img-main {
    top: 45%;

    position: relative;
    
    max-width: 100%;
}

#section-about {
    background-image: url(../images/about/P2-about-us-bg.jpg);
}

#section-works {
    background-color: white;
}

#section-service {
    background-image: url(../images/service/P4-service_bg.jpg);
}

#section-contact {
    background-color: white;
    text-align: center;
}

#content-contact {
    width: 40%;
    margin: auto;
    text-align: center;
    color: #005680;
    line-height: 1.5em;
}

.menu-main { /* set rule for smaller screen */
    list-style: none;
    display: block;
    
    position: fixed;
    padding-right: 100px;
    right: 5%;
    bottom: 3%;
    
}

.menu-main li {
    margin-right: 2em;
}

.menu-main li {
    display: inline;
}



#section-main-background {
    background-image: url(../images/main/cover1.jpg);
    background-size: cover;
    
    width: inherit;
    height: inherit;
    
    text-align: center;
}

#copyright {
    padding-top: 10vh;
}



#contact-logo {
    padding-top: 10vh;
}

#contact-contact {
    padding-top: 10vh;
}

#contact-phone {
    padding-top: 1em;
}



#content-service {
    width: 60vw;
    height 60vh;
    
    padding-top: 15vh; /* set rule for smaller screen */
    padding-left: 10vw;
    
    color: #005680;
}

input {
    display: block;
    border-radius: 5px;
    
    width: 40vw;
    height: 2em;
}

textarea {
    display: block;
    border-radius: 5px;
    
    width: 40vw;
    height: 5em;
}

#contact-form {
    line-height: 2em;
}

#contact-img {
    width: 25vw; /* set rule for smaller screen */
}

#content-about {
    width: 40vw;
    height 80vh;
    
    padding-top: 25vh; /* set rule for smaller screen */
    padding-left: 10vw;
    
    color: #005680;
}

#works-header {
    width: inherit;
    height: 30vh;

    padding-left: 10vw;
}

#works-content {
    width: inherit;
    height: 70vh;
    
    margin: 0px;
    padding: 0px;
    
    font-size: 0;
}

.works-category {
    width: 33.33%;
    height: inherit;
    background-size: cover;
    display: inline-block;
}

#works-category-1 {
    background-image: url(../images/works/P3-work-residencial-off.jpg)  ;
    background-repeat: no-repeat;
}

#works-category-2 {
    background-image: url(../images/works/P3-work-commercial-off.jpg);
    background-repeat: no-repeat; 
}

#works-category-3 {
    background-image: url(../images/works/P3-work-retail-off.jpg);
    background-repeat: no-repeat; 
}

#works-img {
    position: relative;
    top: 20vh; /* set rule for smaller screen */
}
